body {
    font-family: Arial,sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.tarjeta{
    color:rgb(255, 0, 140);
    text-decoration:none ;
    width:100%;
    margin:0 auto;
    padding: 20px;
    boder-radius: 20px;
}
img{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    border-radius: 100%;
}
h1{
    color: black;
    font-size: 22px;

}
subtitulo{
    color:blue;
    font-size: 22px;

}
a{}